*{
    background-color: black;
}

h1 {
    font-size: 50 px;
    font-weight: normal;

}

body {
    font-family: Verdana, sans-serif;
    text-align: center;
    color: white;
  }

  p {
    font-family: 'Times New Roman', Times, serif;
    color: cadetblue;
  }